<div class="menu" [style.top]="topPosPx() + 'px'" [style.left]="leftPosPx() + 'px'" [style.display]="visible() ? 'initial' : 'none'">
  @if (selectedTool() === EditorTool.DOOR) {
    <div>
      <button (click)="onClearDoorsButtonPressed()">Clear Doors</button>
    </div>
  } @else if (selectedTool() === EditorTool.PEN) {
    <div>
      <button (click)="onClearPenButtonPressed()">Clear Pen</button>
    </div>
  } @else {
    <div>
      <button (click)="onDuplicateButtonPressed()">Duplicate</button>
      <button (click)="onDeleteButtonPressed()">Delete</button>
    </div>
  }
</div>