<mat-toolbar class="toolbar">
  <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [(value)]="currentTool" (change)="onSelectedToolChange()">
    <mat-button-toggle matTooltip="(ctrl+g)" [value]="EditorTool.NONE">
      <span class="material-symbols-sharp" [ngClass]="{ 'btn-toggle-icon-active': currentTool === EditorTool.NONE }">
        arrow_selector_tool
      </span>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="(ctrl+b)" [value]="EditorTool.BRUSH">
      <span class="material-symbols-sharp" [ngClass]="{ 'btn-toggle-icon-active': currentTool === EditorTool.BRUSH }">
        brush
      </span>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="(ctrl+e)" [value]="EditorTool.ERASER">
      <span class="material-symbols-sharp" [ngClass]="{ 'btn-toggle-icon-active': currentTool === EditorTool.ERASER }">
        ink_eraser
      </span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-icon-button matTooltip="(ctrl+z)">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button matTooltip="(ctrl+y)">
    <mat-icon>redo</mat-icon>
  </button>

  <span class="toolbar-spacer"></span>

  <mat-button-toggle [checked]="true" (change)="onGridToggleChange($event)">
    <span class="material-symbols-sharp"> grid_4x4 </span>
  </mat-button-toggle>

  <button mat-icon-button (click)="onClear()">
    <span class="material-symbols-sharp btn-toggle-icon-warn"> delete_forever </span>
  </button>
</mat-toolbar>
