<div class="header">
  <input type="text" [(ngModel)]="shipTitle" (keyup)="onShipTitleChanged()" maxlength="24" placeholder="Ship Title" />
  <h1 class="budget-text">Budget: {{ totalCost() }} / 2000</h1>
</div>
<section class="editor">
  <div #editorContainer (drop)="onImageDropped($event)" (dragover)="onContainerDragOver($event)">
    <ko-stage
      [config]="configStage"
      (mousedown)="onToolStageDragStart($event)"
      (mouseup)="onToolStageDragEnd($event)"
      (mousemove)="onToolStageDragMove($event)"
      (mousemove)="onStageHover($event)"
      (mouseleave)="onStageHoverLeave($event)"
      (wheel)="onStageScroll($event)"
      (contextmenu)="onStageContextMenu($event)"
    >
      <ko-layer #gridLayer>
        <ko-rect [config]="backgroundRectConfig"></ko-rect>
        @for (rectConfig of gridRectConfigs(); track $index) {
          <ko-rect [config]="rectConfig"></ko-rect>
        }
      </ko-layer>
      <ko-layer #shipHullsLayer>
        @for (hullRow of hullRectConfigs(); track $index) {
          @for (hullRectConfig of hullRow; track $index) {
            <!-- Draw a ship element either with Konva shapes or an image -->
            @if (hullRectConfig) {
              <ko-rect [config]="hullRectConfig"></ko-rect>
            }
          }
        }
      </ko-layer>
      <ko-layer #shipDoorsLayer>
        @for (doorRectShadowConfig of doorRectShadowConfigs(); track $index) {
          <ko-rect [config]="doorRectShadowConfig"></ko-rect>
        }
        @for (doorRectConfig of doorRectConfigs(); track $index) {
          <ko-rect [config]="doorRectConfig"></ko-rect>
        }
      </ko-layer>
      <ko-layer #shipElementsLayer>
        <ko-transformer #selector [config]="transformConfig"></ko-transformer>
        @for (shipElementShape of shipElementShapes(); track $index) {
          <ko-image #shipElementImage [config]="shipElementShape.config"></ko-image>
          <!-- <ko-ship-element [config]="shipElementShape.config" [shipElementShape]="shipElementShape"></ko-ship-element> -->
        }
      </ko-layer>
      <ko-layer #armamentLayer>
        <ko-group [config]="armamentGroupConfig">
          <ko-text [config]="armamentDetailsService.shipTitleTextConfig()"></ko-text>

          @for (armamentRectConfig of armamentDetailsService.staticGroupRectConfigs; track $index) {
            <ko-rect [config]="armamentRectConfig"></ko-rect>
          }
          @for (armamentStaticTextConfig of armamentDetailsService.staticTextConfigs; track $index) {
            <ko-text [config]="armamentStaticTextConfig"></ko-text>
          }

          @for (weaponTexts of armamentDetailsService.weaponDetailsList(); track $index) {
            @for (weaponTextConfig of weaponTexts; track $index) {
              <ko-text [config]="weaponTextConfig"></ko-text>
            }
          }
        </ko-group>
      </ko-layer>
    </ko-stage>
  </div>
</section>
<app-context-menu 
  [visible]="contextMenuVisible()"
  [topPosPx]="contextMenuTopPosPx()"
  [leftPosPx]="contextMenuLeftPosPx()"
  (duplicateButtonPressed)="onContextMenuDuplicateBtnPressed()"
  (deleteButtonPressed)="onContextMenuDeleteBtnPressed()"
  >
</app-context-menu>
