<h1>Total TV: {{ totalTV }}</h1>
<section>
  <div (drop)="onImageDropped($event)" (dragover)="onContainerDragOver($event)">
    <ko-stage
      [config]="configStage"
      (mousedown)="onToolStageDragStart($event)"
      (mouseup)="onToolStageDragEnd($event)"
      (mousemove)="onToolStageDragMove($event)"
      (wheel)="onStageScroll($event)"
      (contextmenu)="onStageContextMenu($event)"
    >
      <ko-layer #gridLayer>
        @for (rectConfig of gridRectConfigs(); track $index) {
          <ko-rect [config]="rectConfig"></ko-rect>
        }
      </ko-layer>
      <ko-layer #designLayer>
        @for (hullRow of hullRectConfigs(); track $index) {
          @for (hullRectConfig of hullRow; track $index) {
            <!-- Draw a ship element either with Konva shapes or an image -->
            @if (hullRectConfig) {
              <ko-rect [config]="hullRectConfig"></ko-rect>
            }
          }
        }
      </ko-layer>
      <ko-layer #shipElementsLayer>
        <ko-transformer #selector [config]="transformConfig"></ko-transformer>
        @for (shipElementShape of shipElementShapes(); track $index) {
          @if (shipElementShape.config.name === 'rect') {
            <ko-rect [config]="shipElementShape.config"></ko-rect>
          }
          @if (shipElementShape.config.name === 'image') {
            <ko-image #shipElementImage [config]="shipElementShape.config"></ko-image>
            <!-- <ko-ship-element [config]="shipElementShape.config" [shipElementShape]="shipElementShape"></ko-ship-element> -->
          }
        }
      </ko-layer>
    </ko-stage>
  </div>
</section>
<app-context-menu 
  [visible]="contextMenuVisible()"
  [topPosPx]="contextMenuTopPosPx()"
  [leftPosPx]="contextMenuLeftPosPx()"
  (duplicateButtonPressed)="onContextMenuDuplicateBtnPressed()"
  (deleteButtonPressed)="onContextMenuDeleteBtnPressed()"
  >
</app-context-menu>
