.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.ship-title-label {
  color: white;
}

.editor {
  background-color: white;
}

.budget-text {
  color: white;
}