<div class="app-shell">
  <div class="app-content">
    <app-side-bar [shipElements]="shipElements" (heldShipElement)="onHeldShipElementChanged($event)"></app-side-bar>
    <div>
      <app-editor-toolbar
        (currentToolChanged)="onToolChange($event)"
        (gridToggleChange)="onGridToggleChange($event)"
        (clearEditor)="onClearGrid()"
      >
      </app-editor-toolbar>

      <app-ship-editor
        [editorWidth]="editorWidth"
        [editorHeight]="editorHeight"
        [gridBlockSize]="gridBlockSize"
        [selectedTool]="currentTool"
        [gridEnabled]="gridEnabled"
        [currentlyHeldShipElement]="currentlyHeldShipElement"
      >
      </app-ship-editor>
    </div>
  </div>
</div>
