<div class="ship-element-container">
  <div class="description-container">
    <p>Notes:</p>
    <ul>
      @for (shipElementNote of shipElement().notes; track $index) {
        <li>{{ shipElementNote }}</li>
      }
    </ul>
  </div>
  <div class="image-container">
    <img
      [ngClass]="wideImage() ? 'ship-element-image-wide' : 'ship-element-image-square'"
      #shipElementImage
      src="{{ shipElement().imageFileName }}"
      alt="{{ shipElement().name }}"
      draggable="true"
      (dragstart)="onImageDrag($event)"
    />
  </div>
</div>
